body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.container{
	display:grid;
	height:100vh;
	grid-template-columns:repeat(4,1fr);
	grid-template-rows: 0.5fr 1.2fr 1.2fr 1.2fr;
	text-transform:uppercase;
	grid-template-areas:
	"nav nav nav nav "
	"sidebar-left main main sidebar-right "
	"sidebar-left content1 content1 sidebar-right"
	"sidebar-left content2 content2 sidebar-right"
	" footer footer footer footer "
	
}
nav,
main,
footer,
.sidebar-right,
.content1,
.content2,
.sidebar-left{
	display:flex;
	justify-content:center;
	align-items:center;
}

nav{
	background:#0ae075;
	grid-area:nav;
}
main{
	background:#0ac869;
	grid-area:main;
}
.sidebar-left{
	background:#09aa59;
	grid-area:sidebar-left;
}
.content1{
	background:#088d4b;
	grid-area:content1;
	
}
.content2{
	background:#077c41;
	grid-area:content2;
	
}
.sidebar-right{
	background: #066e3a;
	grid-area:sidebar-right;
}
footer{
	background:#044b28;
	grid-area:footer;
	padding:10px;
	
}

