body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
.container{
	display:grid;
	grid-template-columns:repeat(4,0.3fr);
	grid-template-rows:0.5fr 1fr 1fr 0.2fr;
	height:100vh;
	text-transform:uppercase;
	grid-template-areas:
	"sidebar-left nav nav nav "
	"sidebar-left main main main "
	"sidebar-left content content content"
	"sidebar-left footer footer footer ";
}
nav,
main,
footer,
.content,
.sidebar-left{
	display:flex;
	justify-content:center;
	align-items:center;
}
nav{
	background:#0AE075;
	grid-area:nav;
}
main{
	background:#0AC869;
	grid-area:main;
}
footer{
	background:#044B28;
	grid-area:footer;
}
.content{
	background:#088D4B;
	grid-area:content;
}
.sidebar-left{
	background:#09AA59;
	grid-area:sidebar-left;
}